<div class="home">
    <div class="home-header">
        <h1>How Can We Help?</h1>
    </div>

    <!-- <a [routerLink]="['/newRequestForm']">Submit Your Request Here!</a> -->

    <button (click)="['/newRequestForm']" >Submit Your Request Here!</button>
    <button (click)="['/allTickets']" >Admin Log In</button>
  
   


    <!-- <div class="ticket-list">
        <ul *ngIf="tickets.length > 0; else waitingForTickets">
            
            <li *ngFor="let ticket of tickets">
                <div>
                    <p>Tickets: 
                        <a [routerLink]="['/allTickets', ticket.ticketId]">{{ticket.subject}}</a>
                    </p>
                </div>
            </li>
        </ul> -->
        <div>
            <ng-template #waitingForTickets>
                <p>getting tickets...</p>
            </ng-template>
        </div>
    <!-- </div> -->

