<ul *ngIf="tickets.length > 0; else waitingForTickets">

    <li *ngFor="let ticket of tickets">
        <div>
            Name: <a [routerLink]="['/ticket', ticket.ticketID]">{{ticket.submitterName}}</a>
        <br>
            Email: {{ticket.submitterEmail}}
        <br>
            Subject Line: {{ticket.subjectLine}}
        <br>
            Problem: {{ticket.problem}}
        <br>
            Time Submitted: {{ticket.submittedTime}}
        <br>    

            <button (click)="deleteTicket(ticket.ticketID)">Delete</button>
             
            <br>Click here to favorite/assign this ticket
        
        </div>
    </li>
    
    </ul>
    
    <ng-template #waitingForTickets>
        <p>collecting tickets...</p>
    </ng-template>


click ticket route to single ticket view
list all tickets in DB
