.nav-bar{
    padding: 0;
    margin: 0;
  background-color: rgb(240, 189, 247);
}
.body{
    height: 90vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: rgb(159, 237, 243);
}



//The background colors are just for testing purposes and can be removed for the final project