.nav-bar{
    padding: 0;
    margin: 0;
  background-color: aqua;
}
.body{
    height: 90vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: blueviolet;
}



//The background colors are just for testing purposes and can be removed for the final project